extends ../layout/index
block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="").img-fluid
            .col-md-7
                h1 #{pagina}
                blockquote Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellendus consequuntur impedit, hic inventore error iusto quo excepturi id optio quod! Perspiciatis, deserunt dolores! Sapiente dolore tenetur assumenda ipsa aspernatur earum.
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi recusandae quidem corporis in adipisci amet, voluptatum voluptatibus similique expedita aut asperiores obcaecati labore harum tempore porro libero optio magni ea.
                p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempore cumque pariatur accusantium? Sed perspiciatis, repudiandae ea neque, recusandae aspernatur inventore fugit nam blanditiis reiciendis aliquid commodi. Nesciunt, minima. Earum, accusamus.
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="").img-fluid.mb-4
                    h2.mb-4 Seguridad
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, enim eum numquam, voluptatem dicta asperiores
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="").img-fluid.mb-4
                    h2.mb-4 Mejores Destinos
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, enim eum numquam, voluptatem dicta asperiores
                .col-md-4
                    img(src="img/icono_precios.svg", alt="").img-fluid.mb-4
                    h2.mb-4 Mejor Precio
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, enim eum numquam, voluptatem dicta asperiores