extends ../layout/index
block contenido
    main.container.mt-5
        h1.text-center.mb-5 #{pagina}


        .row
            .col-md-12
                include ../layout/partials/testimoniales
                
            .col-md-12
                h2.text-center Agerga un testimonial
                if(errores)
                    each error in errores
                        .alert.alert-danger.text-center=error.mensaje
                .row.justify-content-center
                    .col-md-8
                        form(action="/testimoniales", method="POST")
                            .form-group
                                label(for="nombre") Nombre
                                input(type="text", placeholder="Tu nombre", name="nombre", value=nombre)#nombre.form-control
                            .form-group
                                label(for="correo") Correo Electronico
                                input(type="email", placeholder="Tu correo", name="correo" value=correo)#correo.form-control
                            .form-group
                                label(for="mensaje") Mensaje
                                textarea#mensaje(name="mensaje", placeholder="Tu correo", cols="30", rows="10").form-control=mensaje
                            input.btn.btn-success.btn-block(type="submit", value="Agregar")