extends ../layout/index

block slider
    .slider
        h1 Rio de janeiro
        em Aventura
block contenido
    main.container.mt-5
        h2.text-center.mb-5 Sobre Nosotros
        .row.mb-5
            .col-md-6
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia aspernatur deserunt iusto omnis voluptatem incidunt perspiciatis, quis tempora cumque architecto.
                p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Est soluta, iure laboriosam cum quasi iusto porro culpa modi amet, distinctio, maxime necessitatibus. Iste illo esse a animi iure modi sunt.
            .col-md-6
                img(src="/img/inicio_nosotros.jpg", alt="" class="img-fluid")
    h2.text-center.mb-5 Próximos Viajes
    include ../layout/partials/viajes
    .descuento
        .container
            .row
                .col-md-6
                    .contenido
                        h3 5% de Descuento
                        p.titulo Viaje a canada
                        p.fech 20 de marzo 2019 - 28 de marzo de 2019
                        p.precio $2,500 USD
    .container
        h2.text-center.my-5 Testimoniales
        include ../layout/partials/testimoniales